.Author {
  // margin-left: auto;
  // margin-right: 150px;
  width: 430px;
  font-family: "Plus Jakarta Sans", sans-serif;
  &_header {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
  &_index {
    display: flex;
    align-items: center;
    &_img {
      margin: 0 10px 10px 0;
    }
    &_des {
      &_name {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
      &_p {
        font-size: 12px;
        line-height: 15px;
        color: #878690;
      }
    }
  }
}
