.Banner {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  width: 1140px;
  height: 725px;
  &_header {
    &_h3 {
      font-family: "Anton";
      font-weight: 600;
      font-size: 40px;
      margin-bottom: auto;
    }
    &_p {
      color: #878690;
    }
    &_two {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_price {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 124.54%;
      }
      &_img {
        margin-right: 10px;
      }
    }
    &_des {
      margin-top: 6%;
      color: #878690;
      margin-bottom: 16px;
      &_p {
        margin-bottom: 6%;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: rgba(0, 0, 0, 0.09);
      }
    }
    &_p1 {
      text-decoration-line: underline;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      color: #333;
    }
    
    &_btn {
      margin-top: 16px;
    }

    select {
      margin-right: 10px;
      padding: 2px 4px;
      font-size: 16px;
      font-family: 'Anton';
      option {
        font-family: 'Roboto', sans-serif;
      }
    }
    &_button34 {
      margin-top: 7%;
      display: flex;
      &_3 {
        background: #100d22;
        border-radius: 32px;
        width: 220px;
        height: 50px;
        left: 1010px;
        top: 775px;
        border: none;
        color: #f6f6f6;
        margin-right: 7%;
      }
      &_4 {
        background: #f6f6f6;
        border-radius: 32px;
        width: 220px;
        height: 50px;
        left: 1010px;
        top: 775px;
        border: none;
        color: #100d22;
        align-items: center;
        display: flex;
        &_img {
          margin-left: 20%;
          margin-right: 5%;
        }
      }
    }
  }
  &_img {
    margin: 82px 10% 0 0;
    &-item {
      object-fit: contain;
      width: 546px;
      height: 608px;
    }
  }
}
// pc
@media only screen and (min-width: 64rem) {
}
//table
@media only screen and (min-width: 46.25rem) and (max-width: 64rem) {
  .flex-mobile {
    flex-wrap: wrap;
    min-width: 46.25rem;
    max-width: 64rem;
  }
}
/*mobile*/
@media only screen and (max-width: 46.25rem) {
  .flex-mobile {
    flex-wrap: wrap;
    max-width: 30rem;
  }
}
