.Description {
    margin-left: 12%;
    padding-top: 32px;
    width: 700px;
    h1 {
        text-decoration: underline;
        font-family: system-ui;
        font-size: 18px;

    }

    p {
        margin-top: 16px;
        color: #878690;
        font-size: 14px;
    }
}