.Banner-show {
    margin-top: 100px;
    overflow: hidden;
}

.Banner__background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.Banner__background-img {
    height: 712px;
}

.Banner-zoom {
    z-index: 1;
}

.Banner__title {
    opacity: 0.79;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 2;
    letter-spacing: -0.03em;
    background: linear-gradient(142.07deg, #AB238F 0.94%, #DF3295 34.4%, #FE9D9B 71.35%, #FF7770 100.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
}

.Banner__heading {
    font-size: 3.125rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    margin: 12px 0;
    line-height: 1;
}

.Banner__text {
    font-size: 1rem;
    max-width: 320px;
    margin-top: 22px;
    color: #777;
    line-height: 1.5;
}

.Banner__group {
    margin: 16px 0;
    display: flex;
    align-items: center;
}

.Banner__group-text {
    padding-right: 12px;
}

.Banner__select {
    margin-right: 10px;
    padding: 2px 4px;
    font-size: 16px;
    font-family: 'Anton';
}

.Banner__select-price {
    font-family: "Anton", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    position: relative;
    top: 2px;
}

.Banner-group {
    margin-top: 30px;
}

.Banner__button {
    margin-top: 32px;
}

.Banner__button-link {
    padding-left: 20px;
    font-size: 1.2rem;
    color: #000;
}

.Banner__button-item {
    margin: 0 12px;
}

.Banner-img {
    height: 338px;
    position: relative;
}

.Banner__list {
    list-style: none;
    display: flex;
    margin-top: 26px;
}

.Banner__list-img {
    padding-right: 12px;
    height: 150px;
}

.overplay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    /* background-color: rgba(red, green, blue, alpha); */
}

.Banner__statistical {
    background-color: #000;
    height: 100%;
    min-height: 181px;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.Banner__foot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistical__data {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.statistical__data::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: calc(100% + 12px);
    border-left: 1px solid rgba(255, 255, 255, 0.24);
    transform: translateY(-50%);
}

.Banner__foot:first-child .statistical__data::before {
    display: none;
}

.statistical__amount {
    color: white;
    font-family: "Anton", sans-serif;
    font-size: 1.6rem;
    display: inline-flex;
    align-items: baseline;
    font-weight: 200;
}

.statistical__text {
    color: #888;
    font-size: 0.9rem;
    margin: 0;
    padding-left: 12px;
}