.Empty {
  margin: 100px 0px 100px 0px;
}
// pc
@media only screen and (min-width: 64em) {
  .state-pc {
    margin: 200px 636px 200px 636px;
  }
}
//table
@media only screen and (min-width: 46.25rem) and (max-width: 64rem) {
}
/*mobile*/
@media only screen and (max-width: 46.25em) {
  .state-left {
    flex-wrap: wrap;
    margin: 200px 0px 200px 20%;
  }
}
