@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 1140px;
  width: 80%;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

.btn {
  min-width: 167px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: 600px;
  padding: 24px 12px;
  outline: none;
  cursor: pointer;
  color: #333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem;
  border-radius: 50px;
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn--primary {
  background-color: #000;
  color: #fff;
}